<!DOCTYPE html>
<html lang="en" <%- helmet.htmlAttributes.toString() %>>

<head>

    <%- helmet.title.toString() %>
    <%- helmet.meta.toString() %>
    <%- helmet.link.toString() %>

    <style>
        html {
            overflow: scroll;
            overflow-x: hidden;
        }

        ::-webkit-scrollbar {
            width: 0px;
            background: transparent;
        }
        
        ::-webkit-scrollbar-thumb {
            background: #FF0000
        }
    </style>

</head>

<body>

    <div id="root"><%- markup %></div>

    <script type="text/javascript">
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register('/sw.js', { scope: '/ ' })
                .then(function () { console.log('[Service Worker] Registered') })
                .catch(function(err) { console.log('[Service Worker] Fails to register', err)  })
        }
    </script>

    <script>
        window.__INITIAL_STATE__ = <%- preloadedState %>;
    </script>

    <script src="/static/build/client.build.js"></script>
    <script src="/static/build/client.build.js.map"></script>
    
</body>

</html>
