<!DOCTYPE html>
<html lang="en" <%- helmet.htmlAttributes.toString() %>>

<head>

    <%- helmet.title.toString() %>
    <%- helmet.meta.toString() %>
    <%- helmet.link.toString() %>

    <style>
        html {
            overflow: scroll;
            overflow-x: hidden;
        }

        ::-webkit-scrollbar {
            width: 0px;
            background: transparent;
        }
        
        ::-webkit-scrollbar-thumb {
            background: #FF0000
        }
    </style>
    <link rel="stylesheet" href="/static/build/style/rmc-mobile.css">

</head>

<body>

    <div id="root"><%- markup %></div>

    <script src="/static/cdnjs/idb.min.js"></script>
    <!-- <script src="/static/build/idb-utilities.js"></script> -->
    <script src="/static/cdnjs/utilities.js"></script>
    <script type="text/javascript" defer>
        var swRegistration = null;
        var isSubscribed = false;

        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register('/sw.js', { scope: '/ ' })
                .then(function (swReg) { 
                    console.log('[Service Worker] Registered');
                    swRegistration = swReg;
                })
                .catch(function(err) { console.log('[Service Worker] Fails to register', err)  });
        }
    </script>

    <script>
        window.__INITIAL_STATE__ = <%- preloadedState %>;
        window.__VAPID_PUBLIC_KEYS__ = <%- vapidPublicKeys %>;
    </script>

</body>

</html>
